* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  


}

body {
    background-image: url(template2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: radial-gradient(circle, #0b456b, #021c37); */


}

.clock {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #05263c, #000d1a);
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    


}

.clock::before {
    content: --;
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #00d9ff, #ee00ff);

    z-index: -1;
    




}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    color: #00d9ff;

    font-family: 'Orbitron', sans-serif;
    color: #00d9ff;
    text-shadow: 0 0 20px #ee00ff;
}

.number b {
    transform: rotate(calc(-30deg * var(--n)));
    display: inline-block;
}

.centre-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    background-color: #ee00ff;
    border: 6px solid #00d9ff;
}

.hour-hand,
.minute-hand,
.second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate)* 1deg));
     border-radius: 30px 30px ;
    transform-origin: bottom;
}

.hour-hand {
    width: 12px;
    height: 130px;
    background-color: black;
    background: linear-gradient(#00d9ff, #ee00ff);
}

.minute-hand {
    width: 12px;
    height: 190px;
    background-color: blue;
    background: linear-gradient(to top, #00d9ff, #ee00ff);

}

.second-hand {
    width: 6px;
    height: 210px;
    background-color: red;
    background: linear-gradient(to top, #b3ff00, #ee00ff);
}